// Name:            Card
// Description:     Component to create boxed content containers
//
// Component:       `uk-card`
// ========================================================================


$Gy-E: #50504c;
$Gy-G: #676762;
$Gy-F: #f2f2f2;

$card-title-font-size:                1.25rem !default;

$card-hover-background:               $Gy-F !default;
$card-default-background:             $Gy-F !default;
$card-default-color:                  $Gy-G !default;
$card-default-title-color:            $Gy-E !default;
$card-default-hover-background:       darken($card-default-background, 5%) !default;