//
// Description:     Defines custom values for UIKit variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//

$global-font-family:                             Nunito, sans-serif !default;

$base-code-font-family:                          'Victor Mono', 'Fira Code', monospace !default;

$link-heading-hover-text-decoration:             underline !default;

//
// Colors
//

$global-muted-color:                             #999 !default;

$global-link-color:                              #6554c0 !default;
$global-link-hover-color:                        #403294 !default;

$link-heading-hover-color:                       #5f5569 !default;

$base-selection-background:                      #7d52c4 !default;

//
// Backgrounds
//

$global-background:                              #ffffff !default;

$global-muted-background:                        #e5e5e5 !default;
$global-primary-background:                      #6554c0 !default;
$global-secondary-background:                    #333333 !default;

$global-primary-background:                      #1e87f0 !default;

$global-danger-background:                       #faa04c !default;
$global-warning-background:                      #e5f794 !default;
$global-success-background:                      #1bde83 !default;

$table-row-active-background:                    #e6fff0 !default;

